<mat-card class="example-card">
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title><a [routerLink]="['/','startup']" [queryParams]="{id : Startup.id}">{{Startup.name}}</a></mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p>{{ Startup.description }}</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>